<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <ul>
        <li><a class="page-link" href="/about/">About</a></li>
        <li><a class="page-link" href="/projects/">Projects</a></li>
        <div class="right-links">
          <li><a class="page-link" href="/blog/">Blog</a></li>
          <li><a class="page-link" href="/connect/">Connect</a></li>
        </div>
      </ul>

    </nav>

  </div>

</header>